<!--
including header content which is common for all pages
--> 
<%- include ('../include/header.ejs') %>	
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Movies</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Movies</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section> 

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

            	<div class="card-header">
	              <h3 class="card-title">Edit Movies</h3>
	               <br> 
					<% if (messages.error) { %>
						<p style="color:red"><%- messages.error %></p>
					<% } %>

					<% if (messages.success) { %>
						<p style="color:green"><%- messages.success %></p>
					<% } %>

 
 	            </div>
	            <!-- /.card-header -->
	            <div class="card-body">

					<form action="/admin/movies/edit/<%= id %>" method="post" name="form1">
						<table  border="0">
							<tbody id="last_option">

                <tr> 
                  <td>Name</td>
                  <td><input type="text" name="name" id="name" value="<%= name %>" /></td>
                </tr> 
                <tr> 
                  <td>Year of Release</td>
                  <td><input type="text" name="year_of_release" value="<%= year_of_release %>" /></td>
                </tr>
                <tr> 
                  <td>Plot</td>
                  <td><input type="text" name="plot" value="<%= plot %>" /></td>
                </tr>
                <tr> 
                  <td>Poster</td>
                  <td><input type="text" name="poster" value="<%= poster %>" /></td>
                </tr>
                 
                <tr> 
                  <td>Select Actors</td>
                  <td>
                    <select name="actor_id">
                      <option value="">Select a actors</option>
                      <% if (actors) { %>
                        <% actors.forEach(function(actor){ %> 
                          <option value="<%= actor._id %>"><%= actor.name %></option>
                        <% }) %>
                        <% } %>
          
                    </select>
                   </td>
                </tr> 
                <tr> 
                  <td>Select Producer</td>
                  <td>
                    <select name="producers_id">
                      <option value="">Select a Producer</option>
                    </select>
                   </td>
                </tr> 
							  
						    </tbody>
						
						</table>
							<input type="hidden" name="_method" value="PUT" />
						<input type="submit" name="Submit" value="Update" />
 					</form>

				</div>
			</div>
		</div>
	</section>
</div> 
<!--
including footer content which is common for all pages
-->
<%- include ('../include/footer.ejs') %>
